@use "common" as *;

.footer-area{
    @include mq (md){
        padding: 70px 0;
    }
    @include mq (xs){
        padding: 70px 0;
    }
    .copyright-text{
        .name{
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 25px;
        }
        .copyright{
            font-size: 15px;
            font-weight: 400;
            color: #bcbcbc;
        }
    }
    .footer-widget{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                a{
                    color: #bcbcbc;
                    &:hover{
                        color: #10c9c3;
                    }
                }
            }
        }
    }
}

.col-xl-3.col-lg-3.col-md-6.col-12.pl-100{
    @include mq(lg){
        padding-left: 80px;   
    }
    @include mq(md){
        padding-left: 150px;  
        margin-bottom: 90px;
    }
    @include mq(xs){
        padding-left: 12px;  
        margin-top: 20px;
    }
}

.col-xl-2.col-lg-2.col-md-3.col-6.pl-120{
    @include mq(lg){
        padding-left: 90px;   
    }
    @include mq(md){
        padding-left: 12px;  
    }
    @include mq(xs){
        padding-left: 12px; 
        margin-top: 20px;
    }
}


.col-xl-2.col-lg-2.col-md-3.col-6.pl-90{
    @include mq(lg){
        padding-left: 40px;   
    }
    @include mq(md){
        padding-left: 0;  
    }
    @include mq(xs){
        padding-left: 12px; 
        margin-top: 20px;
    }
}

.col-xl-2.col-lg-2.col-md-6.col-12.pl-70{
    ul{
        li{
            @include mq(xs){
                display: inline-block;
                text-align: center;
            }
            a{
                i{
                    font-size: 30px;
                    line-height: 1;
                    margin-right: 20px;
                }
            }
        }
    }
    @include mq(lg){
        padding-left: 60px;   
    }
    @include mq(md){
        padding-left: 150px;  
    }
    @include mq(xs){
        padding-left: 12px; 
        margin-top: 20px;
    }
}

